MYSQL_ROOT_PASSWORD=rootPassword
MYSQL_DATABASE=jadwalunpam
MYSQL_USER=mysqlUsername
MYSQL_PASSWORD=mysqlPassword

API_BASE_URL=https://apibaseurl.my.id
PORT=80
DATABASE_DSN=mysqlUsername:mysqlPassword@tcp(mysqlHostAddress:3306)/jadwalunpam?charset=utf8mb4&parseTime=True&loc=Local
BEARER_TOKEN=bijikudameledakduarrr
SRC_URL=https://api

CLOUDFLARE_TUNNEL_TOKEN=yourcloudflaretunneltokenhere